.list h2{
    font-size: 25px;
}
.list h3{
    font-size: 22px;
}
.list ul{
    list-style-type: disc;
    margin-left: 10px;
    font-size: 22px;
}
.list ol{
    list-style-type:decimal;
    font-size: 20px;
    margin-left: 10px;
}
.list li{
    font-size: 20px;
}
.list p{
    font-size: 20px;
}
.list img{
    display: flex ;
    align-items: center;
    height: 400px;
    width: 900x;
    text-align: center;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
}
